body {
  background-color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#track {
  color: #7a8eff;
}

#map {
  width: 1000px;
  height: 600px;
}

#legend {
  padding-top: 10px;
}

h1, h2 {
  color: white;
  text-align: center;
}

#header {
  padding-bottom: 20px;
}

#map, #legend, #header {
  margin-right: auto;
  margin-left: auto;
}

#map > div > div.amcharts-chart-div > a {
  display: none !important;
}
