{% extends "_base.html" %}
{% block title %}FlaskStart{% endblock %}
{% block body %}
  {% raw %}
    <div ng-controller='IndexCtrl'>
      <div id="header">
        <h1>SENTINENT</h1>
        <h2>
          how does the world feel about
          <i>
            <span id='track' contenteditable="true" ng-model="track"
                strip-br="true" no-line-breaks="true" select-non-editable="true">
            </span>
          </i>&nbsp;?
        </h2>
      </h1>
      </div>
      <div id="map"></div>
      <div id="legend"></div>
    </div>
  {% endraw %}
{% endblock %}
